<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Avitube</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://demo.flussonic.com/flu/assets/flussonic-player.js"></script>
    <!-- <script src="http://localhost:8090/flu/assets/flussonic-player.js"></script> -->
    <!-- <script src="http://0.0.0.0:3001/clappr.min.js"></script>
    <script src="http://0.0.0.0:3001/clappr-stats.js"></script>
    <script src="http://0.0.0.0:3001/level-selector.min.js"></script>
    <script src="http://0.0.0.0:3001/latest/FlussonicPlayer.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
