<!DOCTYPE html>
<html>
  <head>
    <title>Avitube</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://demo.flussonic.com/flu/assets/flussonic-player.js"></script>
    <!-- <script src="http://localhost:8090/flu/assets/flussonic-player.js"></script> -->
    <!-- <script src="http://0.0.0.0:3001/clappr.min.js"></script>
    <script src="http://0.0.0.0:3001/clappr-stats.js"></script>
    <script src="http://0.0.0.0:3001/level-selector.min.js"></script>
    <script src="http://0.0.0.0:3001/latest/FlussonicPlayer.js"></script> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
